<form action=<%=link%> method="post">
  <input type="submit" name="addskill" value="<%=buttonText%>" id="contactButton" class="addSkillButton" type="button" class="btn btn-lg btn-secondary w-100"></input>
</form>