<form action=<%=link%> method="post">
    <h1>Add your Profile!</h1>
    <input type="submit" name="addskill" value=<%=buttonText%> id="contactButton" type="button" class="btn btn-lg btn-secondary w-100"></input>
</form>