<!-- Instructions in card-icon-generation-->

   <div class="cardImageIcon">


      <img src="<%=image%>" />
      <div class="cardTextDiv">
          <span class="iconText">
              <%=text%>
          </span>
      </div>
  
  </div>