<!-- Takes image and text parameters to generate card icons
   Set text=null for no-image icons
   Find mandatory CSS and options in cardIconStyle.css
   -->

<div class="cardImageIcon">


    <img src="<%=image%>" />
    <div class="cardTextDiv">
        <span class="iconText">
            <%=text%>
        </span>
    </div>

</div>