<!-- Just feed it a number 100 means 0 stars, 0 means full stars -->

<div class="starRatings">
  <div class="cardStarsFill">
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="transparent" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="transparent" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="transparent" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="transparent" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="transparent" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
  <div class="cardStarsEmpty" style="clip-path: inset(0 <%=percent%>% 0 0);">
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="maroon" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="maroon" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="maroon" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="maroon" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="maroon" stroke="maroon" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
</div>