<div class="d-flex flex-row align-items-center mb-4">
  <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
  <div data-mdb-input-init class="d-inline-flex align-items-center flex-fill mb-0">
    <input name="password" type="password" id="passwordInput" placeholder="Password" class="form-control flex-grow-1" required />
    <i class="bi bi-eye-slash ms-1" style="cursor: pointer;" id="eyeball" onclick="changeEyeball()"></i>
  </div>
</div>
<script>
  /** 
   * changeEyeball toggles the classes, and types of the form on press.
   */
  function changeEyeball() {
    const passwordCurrentType = document.getElementById("passwordInput").getAttribute("type");
    const eyeballCurrentState = document.getElementById("eyeball").getAttribute("class");
    if (passwordCurrentType === "password") {
      document.getElementById("passwordInput").setAttribute("type", "input");
      document.getElementById("eyeball").setAttribute("class", "bi-eye");
    }
    if (passwordCurrentType === "input") {
      document.getElementById("passwordInput").setAttribute("type", "password");
      document.getElementById("eyeball").setAttribute("class", "bi-eye-slash");
    }
  }
</script>