
<style>
    .form-outline {
        display: flex;
        align-items: center;
    }
  
    .form-outline .form-control {
        flex: 1;
    }
  
    .form-outline .bi-eye-slash {
        cursor: pointer;
        margin-left: 8px; /* Adjust the margin as needed */
    }
  
    .form-outline .bi-eye-slash:hover {
        cursor: pointer;
    }
</style>
<div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
    <div data-mdb-input-init class="form-outline flex-fill mb-0">
    <input name="password" type="password" id="passwordInput" placeholder="Password" class="form-control" required/>
    <i class="bi bi-eye-slash" id="eyeball" onclick="changeEyeball()"></i>
    </div>
</div>
<script>
function changeEyeball() {
    const passwordCurrentType = document.getElementById("passwordInput").getAttribute("type");
    const eyeballCurrentState = document.getElementById("eyeball").getAttribute("class");
    if(passwordCurrentType === "password") {
        document.getElementById("passwordInput").setAttribute("type", "input");
        document.getElementById("eyeball").setAttribute("class", "bi-eye");
    }
    if(passwordCurrentType === "input") {
        document.getElementById("passwordInput").setAttribute("type", "password");
        document.getElementById("eyeball").setAttribute("class", "bi-eye-slash");
    }
}
</script>