<div class="card m-3 userCard">
  <div class="row g-0 align-items-center">
    <div class="col-3 p-2">
      <%- include("profileIcon") %>
    </div>
    <div class="col-9">
      <div class="card-body">
        <h5 class="card-title"><%= user %></h5>
        <p class="card-text text-truncate">
          <% for (let i=0; i < skills.length; i++) { %>
          <span><%=skills[i]%>, </span>
          <% } %>
        </p>
        <p class="card-text">rating</p><!-- unsure where this is going to be stored and how -->
        <p class="card-text"><small class="text-body-secondary"><%=location%></small>
        </p>
      </div>
    </div>
  </div>
</div>

<!--todo figure out how to add styles to children without clunky id-ing....-->
<style>
  #profileIcon * {
    border: 1px solid black;
    height: 15vh !important;
    width: auto;
  }
</style>