<section class="py-5 text-center bg-secondary">
    <div class="row py-lg-5">
        <div>
            <p class="lead text-white">Barter, helping you exchange goods and services in our post
                neo-capitalist world.</p>
            <form class="d-grid gap-2 ms-4 me-4" onSubmit="" method="post">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="What are you looking for?">
                </div>
                    <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>