  <div class="d-flex justify-content-between py-2">
    <div class="input-group input-group-lg me-2">
      <span class="input-group-text border-0 px-1" id="basic-addon2"><i class="fas fa-search fa-lg" style="color: #939597;"></i></span>
      <input type="text" class="form-control form-control-lg rounded" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
    </div>
    <%- include("button", {buttonType: "Submit"}) %>
    <!-- Placeholder "show results" code -->
    <!-- <p class="mb-0 d-flex flex-row align-self-center" style="color: #939597;"><span class="font-weight-bold pe-1">108 </span>results</p> -->
  </div>