<div class="searchbarComponent">
    <form action="/searchSubmit" method="post">
        <input name="searchbar" type="text" id="searchID" placeholder="What are you looking for?"></input>
        <button type="submit">Search</button>
    </form>
</div>