<%- include("templates/header") %>
<title>404 Page Not Found</title>

<div class="d-flex justify-content-center text-center">
    <h1>404 Page Not Found</h1>
</div><br>
<div class="d-flex justify-content-center text-center">
    <p>The page you are looking for does not exist.</p>
</div>

<%- include("templates/footer") %>
