   <style>
      /* Grid for testing (expands infinitely)
       #testingGrid {
         margin: 0;
         padding: 0;
         display: grid;
         gap:2em;
         grid-template-columns: repeat(2, 125px);
         grid-auto-rows: 110px;
         grid-auto-flow: row;
      } */

      /* Mandatory CSS unless noted as optional*/
      .cardImageIcon {
         display: inline-flex;
         align-items: center;
         width:100%;
      }
      .cardIconSVG {
         position: absolute;
      }
      .cardTextDiv {
         display: flex;
         position: relative;
         background-color: #17191595; /*Optional Hex: RRGGBBAA*/
         align-items: center; /*Optional: needed with higher text background height*/
         height:min-content;  /*Optional: adjusts text background height*/
         width: inherit;
      }
      .iconText {
         color: #FFFAEE; /*Optional*/
         width: inherit;
         font-size: x-large; /*Optional*/
         text-align: center;
      }
   </style>

   <div id=testingGrid>

   <!--Sets image location, mostly for testing, change image:image in include to work through an array-->
   <%var image = "/wow.jpeg"%>
      <!--Sets text, mostly for testing, change text:text for live-->
   <%var text = "Wow!"%>

   <!--A loop for generating icons-->
   <% let i=0; %>
	<% for(i=0; i < 185; i++) { %>
         <%- include('templates/card-image-icon', {image:image, text:text})%>
   <% } %> 

   
   </div>