<%- include("templates/header", {index: true}) %>
<%- include("templates/components/searchHero", {searchHeroImage:catImage, searchHeroBanner: catName}) %>

</div>

<%- include('templates/card-icon-generation', { db:db, count:null})%>

<%- include("templates/footer") %>