<form action="/editProfile/upload?name=<%- name %>" method="post" enctype="multipart/form-data">
    Edit Username:
    <p><input name="username" type="text" value="<%- name %>" class="form-control"/></p>
    Edit Profile Picture:
    <p><input type="file" name="image"/></p>
    <p><input type="submit" value="Save Edits, and Upload."/></p>
</form>