<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Icon Prototyping</title>
  <link rel="stylesheet" href="/styles/cardIconStyle.css">

</head>

<body>


  <div id=testingGrid>

    <!--Sets image location, mostly for testing, change image:image in include to work through an array-->
    <%var image="/test2.jpeg" %>
    <!--Sets text, mostly for testing, change text:text for live-->
    <%var text="Wow!" %>


    <!--text set in for loop just sends the current number  !!set text:null for no text!!-->
    <% let i=0; %>
    <% for(i=0; i < 185; i++) { %>
    <%text=i;%>
    <%- include('templates/card-image-icon', {image:image, text:text})%>
    <% } %>


  </div>

</body>

</html>