<%- include("templates/header") %>
    <%- include("templates/components/searchHero") %>

        </div>



        <%var image="/test.jpeg" %>
            <%var text="insertTextHere" %>
                <%var maxCount=20%>



                    <%- include('templates/card-icon-generation', {image:image, text:text, count:maxCount})%>


                        <%- include("templates/footer") %>