<%- include("templates/header") %>
<%- include("templates/components/searchHero") %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-gap-2">
  <% let maxIcons = 12; %>
  <% for (let i = 0; i < maxIcons; i ++) { %>
  <div class="col text-center">
    <%- include("templates/components/profileIcon") %>
  </div>
  <% } %>
</div>

<%- include("templates/footer") %>