    <%- include("templates/header") %>
    <div class="searchHero">
      <div class="heroHeaderText">
        <h1>Barter, helping you exchange goods and services in our post neo-capitalist world.</h1>
      </div>
      <%- include("templates/components/searchbar") %>
    </div>
    <div class="iconsContainer">
      <% let maxIcons = 12; %>
      <% for (let i = 0; i < maxIcons; i ++) { %>
      <%- include("templates/components/profileIcon") %>
      <% } %>
    </div>
    <%- include("templates/footer") %>