<%- include("templates/header") %>
<%- include("templates/components/searchHero") %>

</div>

<%- include('templates/card-icon-generation', { db:db, count:null })%>

<%- include("templates/footer") %>