<%- include("templates/header") %>
    <%- include("templates/components/searchHero") %>

        </div>



        <%var image="/test.jpeg" %>


            <%- include('templates/card-icon-generation', {image:image, text:"newtext"})%>


                <%- include("templates/footer") %>