<%- include("templates/header", {index: true}) %>
  <%- include("templates/searchHero", {searchHeroImage:"ysd5z51eikzl3aujqko3", searchHeroBanner: "Legal" }) %>
    <h1 class="text-center">
      <br>┻━┻ ︵ \＼( °□° )\／ ︵ ┻━┻<br>
      There aren't any laws around here!
    </h1>

    <%- include("templates/footer") %>