<%- include("templates/header") %>

<div class="d-flex justify-content-center text-center">
    <h2>Login</h2>
</div>
<div class="d-flex justify-content-center text-center">
    <form action='/loggingin' method='post'> <br>
        <div class="form-group">
            <input name='email' type='email' class="form-control" placeholder='Email'>
        </div><br>
        <div class="form-group">
            <input name='password' type='password' class="form-control" placeholder='Password'>
        </div><br>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <div class="text-center"><br>
            <br><p><a href="/passwordReset">Forgot password?</a></p>
            <br><p>Not a member? <a href="/signup">Register</a></p>
          </div>
    </form>
</div>
<% if (passChange) { %>
    <span class="text-danger fw-bold">password has been changed.</span>
    <% } %>

<%- include("templates/footer") %>