<%- include("templates/header") %>

Invalid email/password combination
<form action='/login' method='post'>
    <button>Try again</button>
</form>
<a href='/passwordReset'>
    <button>Reset Password?</button>
</a>

<%- include("templates/footer") %>