<%- include("templates/header") %>

<br><div class="d-flex justify-content-center text-center">
    A password reset link has been sent to your email.<br> 
    Please follow the instructions in the email to change your password.
</div>

<%- include("templates/footer") %>