<%- include("templates/header") %>
Reset your password

<form action='/passwordResetting' method='post'>
    <input placeholder="email" type="email" name="email">
    <button type="submit">Search for my email.</button>
</form>

<%- include("templates/footer") %>