<%- include("templates/header") %>
<div class="d-flex vh-93 w-100 zamnBackToggle justify-content-center align-items-center" style="background-color: #eee">
  <div class="col-10 col-md-6 col-lg-6 col-xl-4 pt-2 justify-content-center ">
    <div class="card text-black" style="border-radius: 25px">
      <div class="d-inline-flex align-items-center flex-column card-body text-center row-gap-2 pm-5">
        <h2 class="row h1 fw-bold m-1">
          Reset your password
        </h2>
        <div class="row">Enter the email address associated with your account and we'll send you a link to reset your password.</div>
        <form class="d-flex flex-column row-gap-2" action="/passwordResetting" method="post">
          <div>
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div data-mdb-input-init="" class="form-outline flex-fill mb-0">
              <input name="email" type="email" placeholder="Email" class="form-control" required="">
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-dark btn-lg">
              Search for my email
            </button>
          </div>
          <div class="row">
            <p class="authSpan">Didn't forget? <a class="link" href="/login">login</a></p>
            <% if(locals.result) { %>
          </div>
          <div class="row h5 fw-bold mb-5 mx-1 mx-md-4 mt-4 "><%-result%></div>
          <% } %>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include("templates/footer") %>