<%- include("templates/header") %>

<br><div class="d-flex justify-content-center text-center">
    <h2>Change your password</h2>
</div>

<div class="d-flex justify-content-center text-center">
    <form action='/passwordChanging' method='post'> <br>
        <div class="form-group">
            <input name='password' type='password' class="form-control" placeholder='New Password'>
        </div><br>
        <div class="form-group">
            <input name='confirmPassword' type='password' class="form-control" placeholder='Confirm new Password'>
        </div><br>
        <button type="submit" class="btn btn-primary">Change my password</button>
    </form>
</div>

<%- include("templates/footer") %>