<%- include("templates/header") %>

<br><div class="d-flex justify-content-center text-center">
    <h2>Reset your password</h2>
</div>

<br><div class="d-flex justify-content-center text-center">
    Enter the email address associated with your account <br>
    and we'll send you a link to reset your password.
</div>

<div class="d-flex justify-content-center text-center">
    <form action='/passwordResetting' method='post'> <br>
        <div class="form-group">
            <input name='email' type='email' class="form-control" placeholder='Email'>
        </div><br>
        <button type="submit" class="btn btn-primary">Search for my email</button><br>
        <br><p>Didn't forget? <a href="/login">login</a></p>
    </form>
</div>

<%- include("templates/footer") %>