<%- include("templates/header") %>
Change your password

<form action='/passwordChanging' method='post'>
    <input placeholder="password" type="password" name="password">
    <button type="submit">Change my password.</button>
</form>

<%- include("templates/footer") %>