<%- include("templates/header", {index: false}) %>

<%- include("templates/components/searchHero", {searchHeroImage:data.images[0], searchHeroBanner: data.title}) %>

<div id="iconGridContainer">
  <div class="iconGrid w-100 d-inline-flex flex-wrap justify-content-center m-0 p-8">
  <% data.images.forEach(element => { %>
    <div class="col-5 col-md-3"><%- include('templates/components/card-image-icon', {image:element, text:null, folder:null}) %> </div>
  <% }); %>
</div>

<%- include("templates/footer") %>