<%- include("templates/header") %>
<title>Join BARTER!</title>

    <div>
        <h2>Join</h2>
        <h1>BARTER!</h1>
    </div>

    <%- include("templates/card-image-icon") %>

    <div>
        <form action='/submitUser' method='post'>
            <input name='username' type='text' placeholder='username' required><br>
            <input name='email' type='email' placeholder='email' required><br>
            <input name='password' type='password' id='signupPass' placeholder='password' required>
            <input type="checkbox" onclick="">Show Password <br>
            <button>Submit</button>
        </form>
    </div>

    <div id = signupErrors style="color: red">

    <% let i=0; %>
	<% for(i=0; i < errors.length; i++) { %>
        <%=errors[i]%> <br>
    <% } %> 
    </div>

<%- include("templates/footer") %>