<%- include("templates/header") %>
<title>Join BARTER!</title>

<br>
<div class="d-flex justify-content-center text-center">
  <h2>Join</h2>
</div>
<div class="d-flex justify-content-center text-center">
  <h1>BARTER!</h1>
</div>

<div class="d-flex justify-content-center text-center">
  <form action='/submitUser' method='post'> <br>
    <div class="form-group">
      <input name='username' type='text' class="form-control" placeholder='Username'>
    </div><br>
    <div class="form-group">
      <input name='email' type='email' class="form-control" placeholder='Email'>
    </div><br>
    <div class="form-group">
      <input name='password' type='password' class="form-control" placeholder='Password'>
    </div><br>
    <!-- Implement javascript for this later-->
    <input type="checkbox" onclick="">Show Password <br><br>
    <button type="submit" class="btn btn-primary">Sign up</button>
    <div class="text-center"><br>
      <br>
      <p>Already a member? <a href="/login">Login</a></p>
    </div>
  </form>
</div>

<div id=signupErrors style="color: red">

  <% let i=0; %>
  <% for(i=0; i < errors.length; i++) { %>
  <%=errors[i]%> <br>
  <% } %>
</div>

<%- include("templates/footer") %>