<%- include("templates/header", {index: true}) %>
<%- include("templates/components/searchHero", {searchHeroImage:null, searchHeroBanner: null}) %>

</div>

<div id="centeringasdf">


      <%- include('templates/components/cardStars.ejs', {percent: 50}) %>



</div>

<%- include("templates/footer") %>