<div class="cardImageIcon">

    <svg width="125" height="110" xmlns="http://www.w3.org/2000/svg">

       <defs>
          <clipPath id="box">
             <rect x="0" y="0" width="125" height="110" rx="7" />
          </clipPath>
       </defs>


       <image clip-path="url(#box)"
          href="https://images.pexels.com/photos/752535/pexels-photo-752535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          x="-25" y="-75" height="275" width="200" />

    </svg>

    <div class="cardTextDiv">
       <span>Music</span>
    </div>




 </div>