<div class="cardImageIcon">

    <svg class = "cardIconSVG" width="125" height="110" xmlns="http://www.w3.org/2000/svg">

       <defs>
          <clipPath id="box">
             <rect x="0" y="0" width="125" height="110" rx="7"/>
          </clipPath>
       </defs>


       <image clip-path="url(#box)"
          href="<%=image%>"
          x="0" y="0" width="125" height="110"/>

    </svg>

    <div class="cardTextDiv">
       <span class="iconText"><%=text%></span>
    </div>

 </div>