</div> <!-- Main content container ending -->

<!-- CB: Footer is currently set up to be 50% of the screen width, 
    and sticks to the bottom of the screen -->
<footer class="w-100 position-fixed bottom-0 d-inline-flex justify-content-center px-0 py-3">
  <% if (typeof footerButton !== 'undefined') { %>
  <%- footerButton %>
  <% } %>
</footer>
<!-- Import Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- Scripts go here -->
<script>
  console.log(<%=zamn%>)
  if (<%=zamn%>) {
    // I don't know why, but this is what works
    document.addEventListener("DOMContentLoaded", () => {
      document.body.addEventListener("click", () => {
        new Audio("https://res.cloudinary.com/djdztuwwe/video/upload/v1716578719/qvw5b8ghcmlcirpo4ezq.mp3").play();
      })
    })
  }
</script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
  const socket = io();
  const id = "<%= typeof _id !== 'undefined' ? _id : " " %>";

  const positionOptions = {
    enableHighAccuracy: true,
  };

  function sendGeo(position) {
    socket.emit("position", {
      geo: {
        latitude: position.coords.latitude,
        longitude: position.coords.longitude,
      },
      id: id,
    })
  }

  navigator.geolocation.watchPosition(
    sendGeo,
    null,
    positionOptions
  );
</script>
</body>

</html>