</div> <!-- Main content container ending -->

<!-- CB: Footer is currently set up to be 50% of the screen width, 
    and sticks to the bottom of the screen -->
<footer class="w-50 position-fixed bottom-0 end-0 px-5 py-3 translate-middle-x ">
</footer>

<!-- Import Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- Scripts go here -->
<script></script>
</body>

</html>