<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BARTER</title>
  <!-- Import our default style sheet -->
  <link href="/styles/style.css" rel="stylesheet">
</head>

<body>
  <%- include("svgs") %>
  <!-- #region navbar  -->
  <nav class="navBar">
    <div>BARTER</div>
    <svg height="24" class="profileIcon">
      <use xlink:href="#userIcon"></use>
    </svg>
  </nav>
  <!-- #endregion navbar -->
  <div class=" container">
    <!-- Main content container beginning -->