#iconGridContainer {
    display:flex;
    justify-content: center;
}

/* Grid for testing (expands infinitely) */
.iconGrid {
    max-width: 960px;
    margin: 2em;
    padding: 2em;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    align-self: center;
}

/* Mandatory CSS unless noted as optional*/
.cardImageIcon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: inherit;
    /* The good version */
    clip-path: rect(0px 0px 100% 100% round 7%);
    /* The version for chrome :c */
    clip-path: fill-box;
    aspect-ratio: 25/22;
}

.cardImageIcon :is(img, a) {
    height: 100%;
    position: absolute;
}

.cardTextDiv {
    pointer-events: none;
    text-align: center;
    position: relative;
    background-color: #17191595;
    /*Optional Hex: RRGGBBAA*/
    align-content: center;
    /*Optional: needed with higher text background height*/
    height: auto;
    min-height: 2.5em;
    /*Optional: adjusts text background height*/
    width: inherit;

}

/* Enable below for text to only be visible on hover*/
/* .cardTextDiv {
    opacity:0;
}
.cardImageIcon :is(img, a):hover + .cardTextDiv{
    opacity: 100;
    transition: opacity 0.1s linear;
    
} */

.iconText {
    color: #FFFAEE;
    /*Optional*/
    font-size: large;
    /*Optional*/
}

.heroBannerTitle {
    background-color: #17191595;
    font-weight: bold;
    font-size: x-large;
}

#centering {
    display: flex;
    justify-content: center;
}

#carousel {
    width: 86vw;
    max-width: 480px;
    overflow: hidden;
    height: auto;
    margin: 3vh 7vw 3vh 7vw;
}

/* Grid for testing (expands infinitely) */
.pillGrid {
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: inherit;
    width:100%;
    max-width: 480px;
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(3, 1fr);
    /* margin: 0 3vw 0 3vw; */
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

.pillContainer {
    width: inherit;
    max-width: 480px;
    height: 100%;
    /* min-height: fit-content; */
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

/* Mandatory CSS unless noted as optional*/
.pillbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    width: inherit;
    height: inherit;
    /* The good version */
    clip-path: rect(0px 0px 100% 100% round 7%);
    /* The version for chrome :c */
    clip-path: fill-box;
    aspect-ratio: 37/7;
}

.pillbox :is(img, a) {
    height: inherit;
    width: inherit;
    position: absolute;
}

.pillTextDiv {
    pointer-events: none;
    text-align: center;
    position: relative;
    /*Optional Hex: RRGGBBAA*/
    align-content: center;
    /*Optional: needed with higher text background height*/
    height: auto;
    min-height: 2.5em;
    /*Optional: adjusts text background height*/
    width: inherit;

}

.pillText {
    color: #FFFAEE;
    background-color: #17191595;
    padding-left: 0.2em;
    padding-right: 0.2em;
    /*Optional*/
    font-size: large;
    /*Optional*/
}

.heroBannerTitle {
    background-color: #17191595;
    font-weight: bold;
    font-size: x-large;
}