/* Global variables and settings. Great for creating colorcodes. */
:root {
  --barterBackground: #ffffff;
  --barterButtons: #000000;
  --barterText: #ffffff;
  --barterAccent: #808080;
  --barterAccentText: #ffffff;
  /* These can be called with the var function */
  /* background-color: var(--testBlue); */
}

/* #region Import Logo Font */
@font-face {
    font-family: 'BASQUIAT';
    src: url('fonts/BASQUIATRegular.eot');
    src: url('fonts/BASQUIATRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BASQUIATRegular.woff2') format('woff2'),
        url('fonts/BASQUIATRegular.woff') format('woff'),
        url('fonts/BASQUIATRegular.ttf') format('truetype'),
        url('fonts/BASQUIATRegular.svg#BASQUIATRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* #endregion Import Logo Font */

/* #region header */
/* #region headerButtons */
/* #endregion headerButtons */
/* #region nestedExample */

/* #endregion nestedExample*/
/* #endregion header*/

/* #region exampleOther */
/* #endregion exampleOther*/

/* #region global */
* {
  margin: 0;
  padding: 0;
  font-family: BASQUIAT;
}

/* #endregion global */

/* #region generics */
.d-none {
  display: none;
}

/*  */
.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.vh-10 {
  max-height: 10vh;
}

.mh-inherit {
  max-height: inherit;
}

.mh-none {
  max-height: none;
}
/* #endregion generics */
