/* Global variables and settings. Great for creating colorcodes. */
:root {
  --testBlue: #003c71;
  --testYellow: #fff400;
  --testPurple: #602aa9;
  /* These can be called with the var function */
  /* background-color: var(--testBlue); */
}

/* #region header */
/* #region headerButtons */
/* #endregion headerButtons */
/* #region nestedExample */

/* #endregion nestedExample*/
/* #endregion header*/

/* #region exampleOther */
/* #endregion exampleOther*/