/* Global variables and settings. Great for creating colorcodes. */
:root {
  --testBlue: #003c71;
  --testYellow: #fff400;
  --testPurple: #602aa9;
  /* These can be called with the var function */
  /* background-color: var(--testBlue); */
}

/* #region header */
.navBar {
  display: flex;
  background-color: var(--testBlue);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.profileIcon {
  width: 5em;
  height: 5em;
}

/* #region headerButtons */
/* #endregion headerButtons */
/* #region nestedExample */

/* #endregion nestedExample*/
/* #endregion header*/

/* #region generics */
.d-none {
  display: none;
}
/* #endregion generics */
